<div class="row">
  <h2>Mis Posts</h2>
  <ul class="large-block-grid-1">
  <% @posts.each do |post| %>
    <li>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= post.body %></p>
      <p>Autor: <%= post.author %></p>
    </li>
  <% end %>
  </ul>
</div>

<div class="row">
  <%= link_to 'Crear una nuevo Post', new_post_path, class: 'button' %>
</div>
