<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'My Blog', root_path %></h1>
      </li>
    </ul>
  </nav>

  <div class="row">
    <%= yield %>
  </div>

</body>
</html>
